/* common styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}
.text-primary{
    color: #FD6E0A;
}
.primary-button{
border-radius: 5px;
background: #FD6E0A;
border: none;
color:  #FFF;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;

}

.description{
    color:  #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.title{
    color:  #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

/* Nav related css */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px  200px;

}
.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;

}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
/* header */
.header{
    background-color: #fff;
}
section{
    
    margin: 130px auto 0px;
    max-width: 1140px;
   }
/* Banner */
.banner{
     padding: 30px 30px 0px 150px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    
    
}

.profile-pic{
    width: 500px;
}
.banner-greeting{
color: #474747;
font-family: Open Sans;
font-size: 45px;
font-weight: 600;

}
.banner-title{
color:  #181818;
font-family: Open Sans;
font-size: 85px;

font-weight: 800;
margin-bottom: 20px;
margin-top: 05px;



}
.banner-description{
color:  #757575;
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
margin-bottom: 40px;


}
.banner button{
    margin-bottom: 40px;
}
.banner-btn{
    color:#FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A ;
    margin-left: 30px;
}
.banner-content{
    max-width: 600px;
}
/* MAin section */

/* about me section */
   .about-me{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
    margin: auto;
   }
   
   
   .about-me-des{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
   }
   .about-me-des p{
    margin-bottom: 0px;
   }
   /* Experience */
.my-experience{
    display: flex;
    align-items: center;
    gap: 40px;
}
.my-experience-des{
    padding: 30px;
    box-shadow: 4px 8px 20px gray;
    border-radius: 5px;
    
}
.my-experience-des p,h4{
    text-align: start;
}
.my-experience-des p{
    font-size: 16px;
   margin-top: 30px;
   margin-bottom: 0px;
}
.my-experience-des h4{
    margin-top: 30px;
}
.experience >p{
    padding: 0px 60px;
    margin-bottom: 50px;
}
/* Resume section */
.resume >h1{
    margin-bottom: 120px;
}
.resume-content{
    display: flex;
    align-items: center;
    gap: 70px;
}
.resume-content-education{
    width: 50%;
}
.resume-title{
color:  #474747;
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
margin-bottom: 30px;
}
.resume-sub-title{
    color: #474747;
font-family: Open Sans;
font-size: 25px;
margin-bottom: 10px;
font-weight: 700;

}
.resume-institute{
color: #757575;
font-family: Open Sans;
font-size: 20px;
margin-bottom: 10px;
font-weight: 400;

}
.resume-content-des p{
    color:  #757575;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
margin-bottom: 30px;

}
 hr{
    margin-bottom: 30px;
}
.resume-btn{
    text-align: center;
    margin: 30px 0px 130px;
}
/* footer section */
footer{
    padding: 130px 230px;
    background-color: #FFF8F3;
}
.footer-content{
    display: flex;
    gap: 100px;
    }
.footer-content p {
 padding-right: 20px;
 margin-bottom: 40px;
}
.footer-des i{
   font-size: 20px;
   margin-right: 15px;
}

    


.footer-content h1{
    text-align: start;
}
.footer-des,.footer-info{
    width: 50%;
}
input,textarea{
    display: block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: #757575;
    font-family: Open Sans;
    border: none;

}
input[type="text"],input[type="email"],textarea{
    width: 100%;
}





